
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{padding: 0;
margin: 0;}
.adminmainhomepage{
    .admincatogery{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100vh;
        
    }
    .category{
        padding: 25px 100px;
        background: linear-gradient(rgb(56, 55, 55),rgb(0, 0, 0));
        color: antiquewhite;
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 20px;
        border-radius: 5px;
       margin-left: 20px;
       width: 30%;

    }
    .admcat{
        // border: 2px solid white;
        // padding: 25px 90px;
         padding-top: 90px;
   
    }
    .table{
        margin-top: 40px;
        // text-align: center;
        width: 2% !important;
    }
    td{
      width: 80px;
        height: 8vh;
   
 padding-left: 50px;
 font-family: 'Noto Sans', sans-serif;
      font-weight: 800;
    }
   
}
.addcat{
        padding: 25px 50px;
        background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
        color: rgb(29, 28, 26);
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 15px;
        border-radius: 5px;
        border: 2px solid rgb(71, 71, 71);
       margin-left: 20px;
       font-weight: 800;
     
}
.del{
  color: black;
  font-size: 17px;
}
.sales{
    padding: 25px 90px;
    background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
    color: rgb(29, 28, 26);
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid rgb(71, 71, 71);
   margin-left: 20px;
   font-weight: 800 !important;
}
.button {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    border: 0;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .button:before,
  .button:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .button:before {
    border: 4px solid #000000;
    transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
  }
  
  .button:after {
    border: 4px solid #000000;
    transform: scale(1.3);
    transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
    opacity: 0;
  }
  
  .button:hover:before,
  .button:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
  }
  
  .button:hover:after,
  .button:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
  }
  
  .button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .button-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #000000;
  }
  
  .button:hover .button-box,
  .button:focus .button-box {
    transition: .4s;
    transform: translateX(-56px);
  }
  
  